*{
    margin:0;
    padding: 0;
}

body {
    background: #eeeeee;
}
.mt-container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.mt-header {
    background: #fff;
}
.mt-header::after {
    content:" ";
    clear: both;
    display:block;
    visibility: none;
}
.mt-logo{
    float: left;
}
.mt-nav {
    float: right;
}

.mt-nav ul li{
    display: inline-block;
}
.mt-nav ul li a{
    line-height: 60px;
    padding: 10px 20px;
    text-decoration: none;
    color: #303030;
}

.mt-nav ul li a:hover{
    color: #3e99ff;
}

p{
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 10px;
}
img {
    display: block;
    max-width: 100%;
}

.mt-content{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 70%;
    float: left;
}
.mt-sidebar{
    max-width: 25%;
    float: right;
    width: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt-sidebar div{
    background: #fff;
    padding: 30px;
}

.mt-article{
    background: #fff;
    padding: 30px;
}
.mt-footer{
    background: #fff;
    text-align: center;
    padding: 20px;
}
.clearfix::after {
    content:" ";
    clear: both;
    display:block;
    visibility: none;
}